<div class="container" ng-controller="BidResultsCtrl" style="padding-top: 30px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>תוצאות המכרז</b></h3>
                </div>
                <div class="panel-body">
                                  
                    <div class="row">
                        <div class="col-md-3 col-md-offset-6">{{item.Product}}</div>
                        <div class="col-md-3">מוצר:</div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-3 col-md-offset-6">{{item.Category}}</div>
                        <div class="col-md-3">קטגוריה:</div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-3 col-md-offset-6">{{item.SubCategory}}</div>
                        <div class="col-md-3">תת קטגוריה:</div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-md-offset-6">{{item.ProductId}}</div>
                        <div class="col-md-3">מספר מוצר:</div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-3 col-md-offset-6">{{item.Id}}</div>
                        <div class="col-md-3">מספר מכרז:</div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-3 col-md-offset-6">{{item.Amount}}</div>
                        <div class="col-md-3">כמות:</div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-md-offset-6">{{item.DueDate | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                        <div class="col-md-3">תאריך סיום המכרז:</div>
                    </div>

                    <hr/>
                    
                    <b>
                        <div ng-show="isAskArea">
                        
                            <div class="row">
                                <div class="col-md-3 col-md-offset-6">{{item.FirstPrice}} ₪</div>
                                <div class="col-md-3">המחיר הטוב ביותר:</div>
                            </div>
                
                            <div class="row">
                                <div class="col-md-3 col-md-offset-6">{{firstAsk.Username}}</div>
                                <div class="col-md-3">שם המוכר:</div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-md-offset-6">
                                    <a href="mailto:{{firstAsk.Email}}?subject=מכרז שהסתיים באתר בידיט&body=שלום רב, אני פונה אליך בשל סיום המכרז באתר בידיט">
                                        {{firstAsk.Email}}
                                    </a>
                                </div>
                                <div class="col-md-3">מייל המוכר:</div>
                            </div>
                    
                            <div class="row">
                                <div class="col-md-3 col-md-offset-6">{{firstAsk.Phone}}</div>
                                <div class="col-md-3">טלפון המוכר:</div>
                            </div>
                    
                            <!-- Rate -->

                            <br/>                            
                            
                            <div class="row">
                                <div class="col-md-9">

                                    <div class="Stars">
                                        <span style="{{getWidth()}}"></span>
                                    </div>

                                </div>
                                <div class="col-md-3">  דירוג המוכר: </div>
                            </div>

                            <div class="row">
                                <div class="col-md-9">({{numOfReviews}} חוות דעת)</div>
                                <div class="col-md-3"></div>
                            </div>

                            <br />


                            <button type="button" class="btn btn-info" ng-click="reviews()">דירוגי המוכר</button>
                            <button type="button" class="btn btn-info" ng-click="rate()">דרג את המוכר</button>

                        </div>
                        
                        <div ng-show="!isAskArea">
                            אין מוכרים במכרז
                        </div>

                    </b>
                    
                </div>
                
                <div class="panel-footer">
                    <button type="button" class="btn btn-danger" ng-show={{isBidUser}} ng-click="removeBid()">הסר מכרז</button>
                    <button type="button" class="btn btn-default" ng-click="closeBidResultsForm()">סגור</button>
                </div>

            </div>
        </div>
    </div>

    <div class="alert alert-success" id="successAlert" ng-show="isAlertSuccess === true" style="text-align: center">
        המכרז הוסר בהצלחה.
    </div>

</div>

<style>

     .Stars span {
    display: inline-block;
    height: 16px;
    max-width: 93px;
    float: right;
    background: url("pix/Star-Yellow.PNG") no-repeat right transparent;
    direction: rtl;
}


	.Stars {
    display: inline-block;
    float: right;
    width: 93px;
    height: 18px;
    background: url("pix/Star-Gray.PNG") no-repeat;
    direction: rtl;
    margin-left: 10px;
}

</style>