<div class="container" ng-controller="EditbidCtrl" style="padding-top: 30px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">עריכת מכרז קיים</h3>
                </div>
                <div class="panel-body">
                                  
                   <div class="row">
                        <div class="col-md-3 col-md-offset-6">{{item.Product}}</div>
                        <div class="col-md-3">מוצר:</div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-3 col-md-offset-6">{{item.Category}}</div>
                        <div class="col-md-3">קטגוריה:</div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-3 col-md-offset-6">{{item.SubCategory}}</div>
                        <div class="col-md-3">תת קטגוריה:</div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-md-offset-6">{{item.ProductId}}</div>
                        <div class="col-md-3">מספר מוצר:</div>
                    </div>
                    
                    <br/>

                    <div class="row">
                        <input class="col-md-3 col-md-offset-6" type="number" data-ng-model="amount"  min="1"/>
                        <div class="col-md-3">כמות:</div>
                    </div>
                    
                    <br/>

                    <div class="row">
                        <input class="col-md-5 col-md-offset-4" type="datetime-local" data-ng-model="dueDateObj" placeholder="yyyy-MM-dd" />          
                        <div class="col-md-3">מועד סיום המכרז:</div>
                    </div>
                    
                </div>
                
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary" ng-click="editBid()">ערוך מכרז</button>
                    <button type="button" class="btn btn-danger" ng-show={{isBidUser}} ng-click="removeBid()">הסר מכרז</button>
                    <button type="button" class="btn btn-default" ng-click="closeEditBidForm()">סגור</button>
                </div>

            </div>
        </div>
    </div>
</div>