<div class="container" ng-controller="LoginCtrl" style="padding-top: 50px">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">כניסה</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="שם משתמש" name="username" type="text" ng-model="cred.username" autofocus>
                                <!-- <input class="form-control" placeholder="שם משתמש" name="email" type="email" ng-model="cred.username" autofocus> -->
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="סיסמה" name="password" type="password" ng-model="cred.password" value="">
                            </div>
                            <div class="checkbox">
                                <input name="remember" type="checkbox" value="Remember Me" ng-model="cred.isRememberMe"><p style="padding-right: 20px">זכור אותי</p>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <a href="" ng-click="login()" class="btn btn-lg btn-success btn-block">כניסה</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>