<nav class="navbar navbar-default" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#/">בידיט</a>
        </div>
        <div>
            
            <!-- logged out -->
            <ul class="nav navbar-nav" ng-show="!isLoggedIn()">
                <!--<li class="active"><a href="/#/">עמוד הבית</a></li>-->
                <li><a href="" ng-click="login()">הירשם</a></li>
                <li><a href="" ng-click="login()">התחבר</a></li>
                <li><a href="" ng-click="login()">שלום אורח</a></li>
            </ul>
            
            <!-- logged out -->
            <ul class="nav navbar-nav" ng-show="isLoggedIn()">
                <!--<li class="active"><a href="/#/">עמוד הבית</a></li>-->
                <li><a href="" ng-click="logout()">התנתק</a></li>
                <li><a href="">שלום {{user.username}} </a></li>
            </ul>

        </div>
    </div>
</nav>