<div class="container" ng-controller="SettingsCtrl" style="padding-top: 30px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">הגדרות</h3>
                </div>
                <div class="panel-body">
                      
                    <div class="checkbox">
                        <input name="remember" type="checkbox" value="Remember Me" ng-model="userSettings.isEmailUpdates" ><p style="padding-right: 20px">מעוניין לקבל דואר אלקטרוני לעדכונים שוטפים</p>
                    </div>
                    
                    <hr/>
                          
                     <div class="row">
                        <div class="col-md-3 col-md-offset-1"></div>
                        <h3 class="col-md-8">בחר את המוצרים עליהם תרצה לקבל עדכונים</h3>  
                    </div>
                    
                    <br/> 
                        
                    <div class="row">
                        <select class="col-md-3 col-md-offset-6" ng-model="selectedOption" ng-options="option.name for option in options" ng-change="update_selected_option()"/>
                        <div class="col-md-3">קטגוריה:</div>
                    </div>
                
                    <br/>

                   <div class="row">
                       <select class="col-md-3 col-md-offset-6" ng-model="selectedSubOption" ng-options="option.name for option in subOptions" ng-change="update_selected_subOption()"/>
                        <div class="col-md-3">תת קטגוריה:</div>
                    </div>

                     <br/>

                   <div class="row">
                       <select class="col-md-3 col-md-offset-6" ng-model="selectedProduct" ng-options="option.name for option in products"/>
                        <div class="col-md-3">מוצר:</div>
                    </div>
                  
                    <br/>

                    <div class="row">
                        <div class="col-md-6"/>
                        <button type="button" class="col-md-3 btn btn-primary" ng-click="addItemToUpdatesDic()">הוסף מוצר</button>
                        <div class="col-md-3"/>
                    </div>

                </div>
                
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary" ng-click="saveSettings()">שמור</button>
                    <button type="button" class="btn btn-default" ng-click="closeSettingsForm()">סגור</button>
                </div>

            </div>
        </div>
    </div>
</div>