<div class="container" ng-controller="ReviewCtrl" style="padding-top: 30px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>דירוג מוכר</b></h3>
                </div>

                <div class="panel-body">

                    <div ng-repeat="review in reviews" id="item_{{review.Id}}">

                        <div style="margin: 10px 5px 10px 10px; border-style: solid; border-width: 1px;">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-md-7">
                                        <!-- style="background-color: azure" -->
                                        <div style="display: inline-block">
                                            <div>
                                                <b>חוות דעת</b>
                                            </div>
                                            <div>
                                                {{review.Feedback}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <!-- style="background-color: antiquewhite" -->
                                        <div style="display: inline-block">
                                            <div>
                                                שם: {{review.FromCID}}
                                            </div>
                                            <div>
                                                תאריך: {{review.Date | date:largeDate}}
                                            </div>
                                           
                                            <div class="row">
                                                <div class="col-md-9">
                                                    
                                                    <div class="Stars">
                                                    <span style="{{getWidth(review.Rate)}}"></span>
                                                </div>

                                                </div>
                                                <div class="col-md-3"> דירוג: </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-9">({{review.Rate}} מתוך 5)</div>
                                                <div class="col-md-3"></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="panel-footer">
                        <button type="button" class="btn btn-primary" ng-click="rateUser()">שלח דירוג</button>
                        <button type="button" class="btn btn-default" ng-click="closeForm()">סגור</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="alert alert-success" ng-show="isAlertSuccess === true" style="text-align: center">
            הדירוג נשלח בהצלחה
        </div>

    </div>
    
    
 
    
<style>

     .Stars span {
    display: inline-block;
    height: 16px;
    max-width: 93px;
    float: right;
    background: url("pix/Star-Yellow.PNG") no-repeat right transparent;
    direction: rtl;
}


	.Stars {
    display: inline-block;
    float: right;
    width: 93px;
    height: 18px;
    background: url("pix/Star-Gray.PNG") no-repeat;
    direction: rtl;
    margin-left: 10px;
}

</style>