<div class="container" ng-controller="PricebidCtrl" style="padding-top: 30px">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>הגשת הצעת מחיר</b></h3>
                </div>
                <div class="panel-body">
                                  
                    <div class="row">
                        <div class="col-md-3 col-md-offset-6">{{item.Product}}</div>
                        <div class="col-md-3">מוצר:</div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-3 col-md-offset-6">{{item.Category}}</div>
                        <div class="col-md-3">קטגוריה:</div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-3 col-md-offset-6">{{item.ProductId}}</div>
                        <div class="col-md-3">מספר מוצר:</div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-3 col-md-offset-6">{{item.DueDate | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                        <div class="col-md-3">תאריך סיום המכרז:</div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-3 col-md-offset-6">{{item.FirstPriceDisplay}} ₪</div>
                        <div class="col-md-3">המחיר הטוב ביותר:</div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-3 col-md-offset-6">{{item.Id}}</div>
                        <div class="col-md-3">מכרז מספר:</div>
                    </div>
                    
                    <hr/>

                    <div class="row">
                        <div class="col-md-3 col-md-offset-6"></div>
                        <h3 class="col-md-3">ההצעה שלך</h3>  
                    </div>

                    <div class="row">
                        <input class="col-md-3 col-md-offset-6" type="number" data-ng-model="price"  min="0"/>
                        <div class="col-md-3">מחיר:</div>
                    </div>

                </div>
                
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary" ng-click="update_bid()">הגש הצעה</button>
                    <button type="button" class="btn btn-default" ng-click="closePriceBidForm()">סגור</button>
                </div>

            </div>
        </div>
    </div>
    
    <div class="alert alert-success" id="successAlert" ng-show="isAlertSuccess === true" style="text-align: center">
        המכרז התעדכן בהצלחה.
    </div>

</div>